[defaults]
inventory = inventory/hosts
host_key_checking = False
timeout = 30
forks = 10
stdout_callback = ansible.builtin.default
callbacks_enabled = timer
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 86400
retry_files_enabled = False
roles_path = roles
collections_path = collections
interprete_python = /usr/bin/python3.12
interprete_python = auto_silent
inject_facts_as_vars = True
deprecation_warnings=False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
